body{
	width: 100%;
	height: auto;
	background-color: black;
	background-image: url(../imgs/Foto_Acervo1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}