/*Clases y estilos para la creación de la cuadricula de portadas de imagenes de documentales*/

.btn-detalles{
  background-color: #254559;
  border-color: #112432;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #112332;
}
.nav-pills>li>a:hover{
  background-color: #324250;
}
.nav-pills li a{
  color: #C2C2C2;
}
/*.titularResultados {
  color: white;
  margin-left:4.6%;
}
.tituloOrdenar {
  color:#f0fff0;
}*/
.titularModalContent{
  font-weight: bold;
  font-size: 1.17em;
}
.modal-content{
  background-color: rgba(25, 45, 59, 0.95);
  color: #C2C2C2;
}
.contenedorInfo {
  background-color: rgba(42, 59, 71, 0.6);
}
/*.spanRubro {
  background-color: #0D1F2B;
  color: #C2C2C2;
}*/

/*.tituloPrincipal{
  width:175px; 
  height:40px; 
  background-color:white;
}*/

/*Links "Anterior"/"Siguiente" dentro del modal*/
a.navDocumental{
  float: left;
  text-align: left;
  margin-right: 2em;
}
a.navDocumental:link{
  color: #C2C2C2;
  text-decoration: none;
}
a.navDocumental:visited{
  color: #C2C2C2;
  text-decoration: none;
}
a.navDocumental:hover{
  color: #C2C2C2;
  text-decoration: underline;
}
a.navDocumental:active{
  color: #C2C2C2;
  text-decoration: none;
}
/*Espaciado horizontal para no pegar los textos "Anterior"/"Siguiente"*/
a.navSpacing{
  margin-right: 2em;
}


/*Nuevas reglas para cuadricula*/

/*Contenedor para grupos documentales (décadas)*/
.nodecoration-container{
  background-color: rgba(0,0,0,0);
  color: #f0fff0;
  border: 0px solid rgba(0,0,0,0);
}
.nodecoration-container:hover{
  margin-top: -10px;
}
/*Contenedor para cada documental:*/
.simple-container{
  background-color: rgba(0,0,0,0.2);
  color: #f0fff0;
  /*border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.5);*/
  border: 2px solid rgba(0,0,0,0.8);
}
.simple-container:hover{
  /*margin-top: -10px;*/
  /*background-color: rgba(24,32,53,0.9);*/
  background-color: rgba(22,27,41,0.9);
  border-color: rgb(4,10,24);
}
.simple-container a{
  color: #f0fff0;
}
/*Contenedor anidado en "simple-container" para imagen(es)*/
.img-container{
  height: 300px;
  /*background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.3);*/

  /*Tip para evitar imagenes "blurry" al alinear verticalmente*/
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/*Permite alinear un objeto si está contenido en otro (img-container por ejemplo)*/
.img-center{
  /*Alineación horizontal: */
  margin: auto;
  /*Alineación vertical: */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*Esto sobreescribe "display: inline block;" de Bootstrap img-thumbnail que evita centrar imagen:*/
  /*display: block;*/
}
/*Imagen que mantiene aspect ratio*/
.img-aspect-ratio{
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
/*Tamaño para imagen que representa una portada*/
.img-portrait{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 296px;
}
/*Tamaño para imagen que representa una captura de pantalla*/
.img-landscape{
  max-width: 100%;
  max-height: 100%;
  /*width: 150px;
  height: 85px;*/
  /*width: 158px;
  height: 89px;*/
  width: 75%;
  height: 32%;
}
/*Posición y tamaño para decorado de capturas de pantalla (img-landscape)*/
.frame-decorator{
  position: absolute;
  width: 100%;
  height: 118px;
  background-color: rgba(255,255,255,0.35);
}
/*Agrega un marco a la imagen. Basado en img-thumbnail de Bootstrap (el cambio importante es en "display" como lo indica .img-center)*/
.my-img-thumbnail{
  display: block;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/*Titulo "encuadrado" en div: */
.title-container{
  width: 100%;
  height: 3em;
  /*overflow: hidden;
  word-wrap: break-word;*/
}
.title-container p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: bold;
}
/*Configuración de texto para moviles (agrandar texto):*/
.title-on-mobile{
  font-size: 1.2em;
}
.no-overflow{
  /*white-space: nowrap;*/
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  word-wrap: break-word;
}