*{
	padding: 0px;
	border: none;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
    background-image:url('../imgs/chago_obscura.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

html{
    width: 100%;
    height: 100%;
}


.boton {
	background-color: rgb(38, 105, 138);
	background-size: 60%; /* Tamaño de la imagen */
	height: 5em;  /* Alto del botón */
	width: 5em;  /* Ancho del botón */
	display: table;
	border-radius: 100%;
	cursor: pointer;
	box-shadow: 3px 3px 10px black;
	/*position: relative;*/
	/*margin-left: 90%;*/
}

/* Al presionar */
.boton:active {
	box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
	background-size: 55%; /* Cambiamos el tamaño de la imagen */
}

#footer{
	/*
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	padding:8px;
	*/
	width: 100%;
	height: 80px;
	bottom: 7%;
	position: fixed;
	margin-left: 88%;
}

.caretForm{
	position: absolute;
  	right: 15px;
 	margin-top: 9px;
}

.navbar-fixed-top{
	opacity: .9;
}

.vista{
	position: absolute;
	width: 200px;
	height: 200px;
	margin-top: 10%;
  	margin-left: 8%;
  	opacity: .7;
  	background-color: black;
  	border-radius: 7px;
}

#logo{
	margin-top: 4%;
	margin-left: 4%;
	width: 180px;
	height: 180px;
}

#decadas{
	background-color: transparent;
	font-family: 'Cantora One', sans-serif;
	color: white;
}

.container-flud{
	width: 80%;
	background-color: transparent;
}

.error{
	color: red;
	margin-bottom: 2%;
}

.portadas{
	padding: 10px 10px 10px 15px;
  	background-repeat: no-repeat;
  	background: cover;
  	display: inline-block;
}

.portadas img {
  width: 180px;
  height: 250px;
}

.portadas img:hover{
	/*
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	transform: rotate(-7deg);

	*/
	margin-top: -10px;
}


.informacion{
	width: 90%;
	height: 100%;
}

#portada{
	width: 90%;
	height: 110%;
}

#asinopsis{
	background-color: transparent;
	width: 100%;
	max-height: 240px;
	overflow: auto;
	height: 240px;
}

#masInfo{
	margin-top:4%; 
	margin-left:14%;
}

.contenedorInfo{
	margin-left: 5%;
	width: 90%;
	background-color: rgba(6, 63, 91,0.4);
	border-radius: 5px;
	margin-bottom: 1%;
}

.etiqueta{
	color: white;
}

#aboton{
	width: 90%;
	margin-left: 5%;
	margin-bottom: 1%;
}

.iconEdicion{
	color: white;
	font-size: 32px;
	display: inline-block;
	margin-top:-4%;
}

.iconEdicion:hover{
	color: blacK;
}

#formulario{
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
}

.popover-content {
	color: black;
}

#coverDecades{
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 10px black;
}

.thumbnail{

       background-color: transparent;
       height: 350px;
       display: block;
       padding: 4px;
       margin-bottom: 20px;
       border: 0px;
}

.thumbnail img:hover{
       /*
       -webkit-transform: rotate(-7deg);
       -moz-transform: rotate(-7deg);
       -ms-transform: rotate(-7deg);
       transform: rotate(-7deg);
       */
       margin-top: -10px;
}

#menuUsuario{
	background-color: #101010;
	opacity: .9;
}

#texto{
	color: white;
}
