*{
	padding: 0px;
	border: none;
	margin:0px;
}

html{
    width: 100%;
    height: 100%;
}

body{
	/*background-color: black;*/
}

/**Boton de agregar por década*/
.botonUno {
	background-color: rgb(38, 105, 138);
	background-size: 60%; /* Tamaño de la imagen */
	height: 5em;  /* Alto del botón */
	width: 5em;  /* Ancho del botón */
	display: table;
	border-radius: 100%;
	cursor: pointer;
	box-shadow: 3px 3px 10px black;
	/*position: relative;*/
	/*margin-left: 90%;*/
}

/**Botón de agregar como un nuevo archivo audiovisual pero con nueva decada*/
.botonDos {
	background-color: rgb(170, 85, 42);
	background-size: 60%; /* Tamaño de la imagen */
	height: 5em;  /* Alto del botón */
	width: 5em;  /* Ancho del botón */
	display: table;
	border-radius: 100%;
	cursor: pointer;
	box-shadow: 3px 3px 10px black;
	/*position: relative;*/
	/*margin-left: 90%;*/
}

/* Al presionar los botones de agregar nueva década */
.botonUno:active {
	box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
	background-size: 55%; /* Cambiamos el tamaño de la imagen */
}

/*Footer para dejar los botones fijos*/
#footer{
	/*
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	padding:8px;
	*/
	width: 100%;
	height: 80px;
	bottom: 7%;
	position: fixed;
	margin-left: 88%;
}

.caretForm{
	position: absolute;
  	right: 15px;
 	margin-top: 9px;
}

.vista{
	display: inline-block;
	width: 220px;
	height: 220px;
	margin-top: 10%;
  	opacity: .7;
  	background-color: black;
  	border-radius: 7px;
}

#logo{
	margin-top: 4%;
	margin-left: 4%;
	width: 180px;
	height: 180px;
}

#decadas{
	background-color: transparent;
	font-family: 'Cantora One', sans-serif;
	color: #f0fff0;
}

.error{
	color: red;
}

.portadas{
	padding: 10px 10px 10px 15px;
	/*
  	background-repeat: no-repeat;
  	background-color: rgba(0,0,0,.7);
  	border-radius: 2%;
  	*/
  	display: inline-block;
  	margin:1%;
  	font-family: 'Anonymous Pro';
  	font-size: 15px;

}

.portadas img {
  width: 176px;
  height: 250px;
}

.portadasBusqueda{
	padding: 10px 10px 10px 15px;
	/*
  	background-repeat: no-repeat;
  	background-color: rgba(0,0,0,.7);
  	border-radius: 2%;
  	*/
  	display: inline-block;
  	margin:1%;
}

.portadasBusqueda img {
  width: 176px;
  height: 250px;
}



.portadasDecadas{
	padding: 10px 10px 10px 15px;
  	display: inline-block;
  	margin:1%;
}

.portadasDecadas img {
  width: 230px;
  height: 310px;
}

.portadas img:hover{
	
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	transform: rotate(-7deg);
	/*
	margin-top: 10px;
	*/
	
}

/*
*Cambiar de color de fondo del navegador de secciones
*/	
.navegador{
	background-color:transparent;
	border-color: none;
	color: white;
}

.navbar-brand > a{
	color:white;
	text-decoration: none;
}


.informacion{
	width: 90%;
	height: 100%;
}

#asinopsis{
	background-color: transparent;
	/*width: 100%;*/
	max-height: 240px;
	overflow: auto;
	height: 240px;
}

#masInfo{
	margin-top:4%; 
	margin-left:14%;
}

.contenedorInfo{
	/*margin-left: 5%;
	width: 90%;*/
	background-color: rgba(6, 63, 91,0.4);
	border-radius: 5px;
	/*margin-bottom: 1%;*/
}

.etiqueta{
	color: #f0fff0;
}

#aboton{
	width: 90%;
	margin-left: 5%;
	margin-bottom: 1%;
}

.iconEdicion{
	color: white;
	font-size: 32px;
	display: inline-block;
	margin-top:-4%;
}

.iconEdicion:hover{
	color: blacK;
}

#formulario{
	color: white;
	/*background-color: rgba(0, 0, 0, 0.3);*/
}

.popover-content {
	color: black;
}

#coverDecades{
    box-shadow: 3px 3px 10px black;
    border-radius: 3%;
}

.thumbnail{

       background-color: transparent;
       height: 350px;
       display: block;
       padding: 4px;
       margin-bottom: 20px;
       border: 0px;
}

.thumbnail img:hover{
       /*
       -webkit-transform: rotate(-7deg);
       -moz-transform: rotate(-7deg);
       -ms-transform: rotate(-7deg);
       transform: rotate(-7deg);
       */
       margin-top: -10px;
}

#menuUsuario{
	background-color: #101010;
	opacity: .9;
}

#texto{
	color: #f0fff0;
}

#load{
	margin-left: 49%;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 100%
}

#imgLoad{
	width: 5%;
	height: 5%;
	opacity: .7;
}

.adminUser{
	background: rgba(0,0,0,.4);
	color: #f0fff0;
}

.text-rigth{
  	overflow: hidden;
  	width: 180px;
  	color: #f0fff0;
  	font-weight: bold;
}


#seccionPortadas{
	margin-left: 4%;
}

#logoLais{
	height: 100%;
	width: 100%;
}

.logo{
	width:51px;
	height: 46px;
	margin-top: -14px;
}

.textoA{
	margin-top: -6%;
	/*color: rgba(255,255,255,.6);*/
	color: #f0fff0;
}
.audiovisualTable{
	table-layout: fixed;
}
.audiovisualTable>tbody>tr>td{
	border-top: 1px solid rgba(255,255,255,0.2);
	overflow: auto;
	word-wrap: break-word;
}

#iconoTrailer{
	color:#f0fff0;
	font-size: 28px;
	margin-top: 12%;
	margin-left: 95%;
}

#iconoTrailer:hover{
	color: black;
}


.secTexto{
	width: 90%;
	margin-left: 5%;
	height: auto;	
  	background-color: rgba(0,0,0,.8);
  	border-radius: 7px;
  	display: inline-block;
  	color: white;
  	font-size: 20px;
	color: #f0fff0;
}


#secAcercaDe{
	display: inline-block;
	width: 90%;
	height: auto;
  	margin-left: 5%;
  	background-color: rgba(0,0,0,.8);
  	border-radius: 7px;
   	color: #f0fff0;
   	margin-bottom: 5%;
   	font-size: 20px;
	color: #f0fff0;
}

#logoLaisP{
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	/*
	height: auto;
	margin-left: 90%;*/
}

#logoLaisM{
	width: 100px;
}

.titulos{
	margin-left: 5%;
	color: #f0fff0;
}


#imgInicio{
	width: 100%;
	height: 100%;
}
.modal-title h3{
	background-color: rgba(38, 105, 138,0.9);
	font-weight: bold;
}

.errorConfirmacion{
	color: #F00;
	position: absolute;
	margin-top: -4px;
}

#seccionFiltrado{
	margin-left:5.8%;
	width: 88.5%;
	height: auto;
}

#tituloFiltro{
	margin-left:5.8%;
	color: #f0fff0;
	font-size: 20px;
	font-style: bold;
}
.tituloOrdenar{
	margin-left: 5.8%;
	color: white;
}

.linkOrdena{
	color:white;
	font-style: bold;
}

h3 a:hover{
	color: #f0fff0;
}

h3 a:focus{
	color: #f0fff0;
}

/* Resaltador de keywords en búsquedas*/
.highlight { 
	background-color: rgba(136, 115, 49, 0.65);
}


/*Color de las letras por default del navbar*/
.colorLetrasNav{
	background-color: transparent;
	color:white;
}


/*Hacer que cambie de color las secciones del navar en un focus y hover*/
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
	background-color: transparent;
	color: #0088CC;
}

/*Cambiar el color de las letras de cada sección en el navbar*/
.navbar-inverse .navbar-nav > li > a{
	color: white;
}

/*Barra decorativa de cada seccion del navbar*/
.barraDecorativa{
	display:block;
	width:calc(100% - 23px);
	height:4px;
	background:#0088CC;
	position:absolute;
	left:11px;
	bottom:5px;
}

/*Animación de cargar la barra en mozila*/
@-moz-keyframes barrita{
 	0% { 
    width:0;
  }
  100% { 
    width:calc(100% - 23px);
  }
}

/*Animación de cargar la barra en chrome*/
@-webkit-keyframes barrita{
 	0% { 
    width:0;
  }
  100% { 
    width:calc(100% - 23px);
  }
}

@keyframes barrita{
 	0% { 
    width:0;
  }
  100% { 
    width:calc(100% - 23px);
  }
}

/*Accion que hace la animacion aplicada a la barra con el span*/
/*li a:hover span{*/
.colorLetrasNav:hover .barraDecorativa{
  animation: barrita 0.3s ease-out;
  -webkit-animation: barrita 0.3s ease-out;
  -moz-animation: barrita 0.3s ease-out;
  background: white;
}

/* Cuando el navegador se cambia a un estado para movile*/
.navbarMobile{
	background-color: rgba(0,0,0,.8);
}

/* Elemento fijo en la parte inferior derecha:
  http://stackoverflow.com/questions/13217981/how-to-align-image-in-right-bottom-corner*/
.bottom-right-fix{
  position: fixed;
  bottom: 25px;
  right: 20px;
  z-index: 1;
  padding: 0px;
  margin: 0px;
}