*{
	padding: 0px;
	border: none;
}

body{
    width: 100%;
    height: 100%;
    background-image:url('../imgs/chago_obscura.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

html{
    width: 100%;
    height: 100%;
}


.boton {
	background: url(http://localhost/lais-audiovisual/public/#/archivos) /* Url de la imagen */ no-repeat center center, #ddd /* Color del botón */;
	background-size: 60%; /* Tamaño de la imagen */
	height: 5em;  /* Alto del botón */
	width: 5em;  /* Ancho del botón */
	display: table;
	border-radius: 100%;
	cursor: pointer;
	box-shadow:
	/* Sombras externa */
	inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05), 
	/* Sombras internas */
	0 5px 20px rgba(0,0,0,.1);
	/*position: relative;*/
	/*margin-left: 90%;*/
}

/* Al presionar */
.boton:active {
	box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
	background-size: 55%; /* Cambiamos el tamaño de la imagen */
}

#footer{
	/*
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	padding:8px;
	*/
	width: 100%;
	height: 80px;
	bottom: 8%;
	position: fixed;
	margin-left: 88%;
}

.caret{
	position: absolute;
  	right: 15px;
 	margin-top: 9px;
}

.navbar-fixed-top{
	opacity: .9;
}

.vista{
	position: absolute;
	width: 200px;
	height: 200px;
	margin-top: 10%;
  	margin-left: 8%;
  	opacity: .7;
  	background-color: black;
  	border-radius: 7px;
}

#logo{
	margin-top: 4%;
	margin-left: 4%;
	width: 180px;
	height: 180px;
}

#decadas{
	background-color: transparent;
	font-family: 'Cantora One', sans-serif;
	color: white;
}

.container-flud{
	width: 80%;
	background-color: transparent;
}

.error{
	color: red;
	margin-bottom: 2%;
}

.thumbnail{

	background-color: transparent;
	height: 350px;
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	border: 0px;
}

.thumbnail img:hover{
	/*
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	transform: rotate(-7deg);
	*/
	margin-top: -10px;
}

#coverDecades{
	width: 100%;
	height: 100%;
	box-shadow: 3px 3px 10px black;
}

.informacion{
	width: 90%;
	height: 100%;
}

#portada{
	width: 90%;
	height: 110%;
}

#asinopsis{
	background-color: transparent;
	width: 100%;
	max-height: 250px;
	overflow: auto;
}

#masInfo{
	margin-top:4%; 
	margin-left:14%;
}

.contenedorInfo{
	margin-left: 10%;
	width: 80.29%;
	background-color: rgba(6, 63, 91,0.4);
	border-radius: 5px;
	margin-bottom: 1%;
}

.etiqueta{
	color: white;
}

#aboton{
	margin-top: 2%;
}