<link rel="stylesheet" type="text/css" href="css/background.css"/>
<style>
/*Espaciado lateral para los logos*/
.lateral-space{
	padding-right: 1em;
}
</style>
<body>
	<br>
	<br>
	<br>
	<br>
	<div id="secAcercaDe">
		<h1>Acerca del Sitio</h1>
		<p> 
			<strong>metaDOC</strong> es un sitio web que pone a disposición la documentación que se ha venido realizando de una pequeña colección de documentales recabados desde 1995 con fines de profundizar sobre las interacciones entre documental e investigación.
		</p>
		<p>
			El usuario encontrará una propuesta de documentación más amplia de lo usual, con la intención de impulsar el análisis e investigación sobre este tipo de documentos, pocas veces incorporados a la práctica investigativa. 	
		</p>

		<h2>La colección de documentales y el acervo audiovisual del LAIS</h2>

		<p>
			Esta colección del acervo audiovisual del Laboratorio Audiovisual de Investigación Social del Instituto Mora, está conformada por los documentales que se han recopilado desde 1995 a la fecha, a partir de: cuatro video foros sobre documental e investigación (1995-1997); ocho cursos sobre Lenguaje Audiovisual e Investigación Social (1999-2015); un Congreso Internacional sobre Imágenes e Investigación Social (2002); dos cursos sobre la historia del documental y el reciclaje de imágenes (2004 y 2007); trece Talleres anuales sobre Manejo de Equipo Audiovisual para la Investigación Social (2002-2015), dos Foros sobre Documental e Investigación (2008-2009), tres cursos de especialización en Investigación Social con Imágenes (2012-2014), y tres mesas redondas sobre Documental e Investigación (2016). Otro pequeño porcentaje ha llegado al Acervo por donación externa o adquisición, según los intereses de cada investigación realizada en estas dos décadas.
		</p>

		<p>
			La colección de Documentales en Video consta hoy día de 840 títulos producidos en 42 países (15 de ellos latinoamericanos) a lo largo de casi un siglo (1922 a la fecha): Alemania, Alemania Oriental, Argentina, Armenia, Australia, Austria, Bélgica, Bolivia, Brasil, Argentina, Canadá, Chile, Colombia, Cuba, Ecuador, El Salvador, España, Estados Unidos, Francia, Gran Bretaña, Guatemala, Holanda, Hungría, India, Indonesia, Inglaterra, Irán, Italia, Japón, México, Nicaragua, Países Bajos, Palestina, Panamá, Perú, Polonia, Portugal, Reino Unido, Rusia, Suecia, Unión Soviética y Uruguay.
		</p>

		<p>
			En materia archivística, con el fin de potenciar investigaciones a partir de la construcción de documentales como fuentes y de acuerdo a la ISAD-G, que fue la norma internacional que nos ofreció más flexibilidad y potencial para lo que quisimos desarrollar, el diseño de la ficha multinivel y por áreas nos pareció ideal. Fue un largo trabajo el desarrollo de la ficha, primero para documentos fotográficos y después para documentales. Todavía resta adecuarla para los otros dos tipos de materiales audiovisuales que alberga el acervo (Registros en video y Materiales de Archivo).
		</p>

		<p>
			En este proceso, destacan como principal aporte los campos que el LAIS creó para el área de "estructura y contenido", particularmente original y propositiva: en ella recuperamos las ideas que tuvo el LAIS en un principio, apenas en su proceso de conformación en el año 2000, al plantearse la necesidad de catalogación de su acervo, para documentar este tipo de realizaciones audiovisuales distinguiendo entre "fuentes" y "recursos" utilizados para su creación, distinción que consideramos básica para poder construir a su vez al documental como fuente de investigación.
		</p>

		<p>
			Los usuarios encontrarán descripciones puntuales acerca de los documentales, que les permitirán ir más allá de un visionado o una consulta temática, al hacerse de información más profusa sobre la confección y entretejido de estas realizaciones, lo que permite profundizar en aspectos visuales, sonoros y audiovisuales de su producción. Se ha convertido en una colección privilegiada para fomentar la investigación sobre el documental, sus procesos de investigación y de producción, temas cuyo interés se ha incrementado en las últimas dos décadas en México y América Latina en general.
		</p>
			
		<center>
			<img class="lateral-space" src="imgs/mora_logo_2.png">
			<img class="lateral-space" src="imgs/lais_logo_2.png">
			<img class="lateral-space" src="imgs/conacyt_logo.png">
		</center>
	</div>
</body>

