<link rel="stylesheet" type="text/css" href="css/background.css"/>
<style>
/*Espaciado lateral para los logos*/
.lateral-space{
	padding-right: 1em;
}
</style>
<body>
	<br>
	<br>
	<br>
	<br>
	<div id="secAcercaDe">
		<h1 class="titulos">Acerca del Sitio</h1>
		<p> 
			<strong>metaDOC</strong> es un sitio web que pone a disposición la documentación que se ha venido realizando de una pequeña colección de documentales recabados desde 1995 con fines de profundizar sobre las interacciones entre documental e investigación.
			<br>
			<br>
			El usuario encontrará una propuesta de documentación más amplia de lo usual, con la intención de impulsar el análisis e investigación sobre este tipo de documentos, pocas veces incorporados a la práctica investigativa. 	
		</p>
			
		<center>
			<img class="lateral-space" src="imgs/mora_logo_2.png">
			<img class="lateral-space" src="imgs/lais_logo_2.png">
			<img class="lateral-space" src="imgs/conacyt_logo.png">
		</center>
	</div>
</body>

