<br><br><br>
<div class="container-fluid">
	<div class="col-xs-12 col-sm-12 col-md-12" class="row">
		<div id="decadas">
			<h1>Décadas</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="decada in decadas track by $index">
			<a href="#/decadas/{{decada}}" class="thumbnail">
		    	<img ng-cloak lass="img-rounded" id="coverDecades" ng-src="imgs/Decadas/{{decada}}.JPG">
		    </a>
		</div>
	</div>
</div>


<!--
<div class="panel panel-default">
		<div class="panel-heading">Panel heading</div>
		<table class="table">
			<thead>
				<tr>
					<th>Codigo de Referencia</th>
					<th>Titulo</th>
					<th>País</th>
					<th>Fecha</th>
					<th>Duración</th>
					<th>Editar</th>
					<th>Borrar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="registro in registros">
					<td>{{registro.codigo_de_referencia}}</td>
					<td>{{registro.titulo_propio}}</td>
					<td>{{registro.pais}}</td>
					<td>{{registro.fecha}}</td>
					<td>{{registro.duracion}}</td>
					<td>
						<button class="btn btn-default" ng-click="editar(registro.codigo_de_referencia)"><span class="glyphicon glyphicon-pencil"></span></button>
					</td>
					<td>
						<button class="btn btn-danger" ng-click="eliminar(registro.codigo_de_referencia)"><span class="glyphicon glyphicon-remove"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<div id="footer">
	<a class='boton' href="#/archivos/agregarArchivo">
		<span class="glyphicon glyphicon-plus" style="font-size: 38px;margin-top: 20%;margin-left: 25%; color:white"></span>
	</a>
</div>
-->


