<!--<link rel="stylesheet" type="text/css" href="css/background.css" />-->
<style>
  body {
      background-color: white;
  }
  .caratula {
    max-width: 90%;
  }
  .caratula:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
</style>

<body>
  <br><br><br><br>
  <div class="container-fluid">
    <div class="row" infinite-scroll="firstLoad()" infinite-scroll-disabled='busy' infinite-scroll-distance="4">
      <div class="col-xs-12 col-sm-4 col-md-3 col-md-2" ng-repeat="archivo in archivos">
        <a data-toggle="modal" href="" data-target="#audiovisualModal">
          <img class="img-responsive img-rounded caratula" ng-src="{{(archivo.imagen != '') ? ('imgs/Portadas/' + archivo.imagen) : ('imgs/Portadas/sin_imagen.png')}}" ng-click="getAllInfo(archivo.codigo_de_referencia)">
        </a>
        <h4>{{archivo.titulo_propio}}</h4>
        <h5>{{archivo.fecha}}</h5>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="audiovisualModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><h3>{{allInfo.identificacion.titulo_propio}}</h3>
        </div>

        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-md-4 col-lg-4">
                <img src="{{(allInfo.adicional.imagen != '') ? ('imgs/Portadas/' + allInfo.adicional.imagen) : ('imgs/Portadas/sin_imagen.png')}}" class="img-responsive">
              </div>
              <div class="col-xs-12 col-md-8 col-lg-8">
                <h4>Año: <small>{{allInfo.identificacion.fecha}}</small></h4>
                <h4>Sinópsis</h4>
                {{allInfo.contenido_y_estructura.sinopsis}}
                <p ng-show="allInfo.contenido_y_estructura.sinopsis === ''"><em>Por el momento no hay sinópsis disponible.</em></p>
                <h4>Duración: <small>{{allInfo.identificacion.duracion}}</small></h4>
                <p class="text-right" ng-show="allInfo.adicional.url !== ''">
                  <!-- <button type="button" class="btn btn-default btn-lg" ng-click="window.location.href = allInfo.adicional.url"></button> -->
                  <a class="btn btn-default" href="{{allInfo.adicional.url}}" role="button">
                    Video <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                  </a>
                  <!-- {{allInfo.adicional.url}} -->
                </p>
              </div> 
            </div>
            <br> <!--Espaciado para el botón-->
            <div class="row">
              <div class="col-xs-12 col-md-12 col-lg-12">
                
                <!-- BOTÓN PARA MOSTRAR DETALLES -->
                <button type="button" ng-show="!hideInfo" ng-click="hideInfos()" class="btn btn-primary btn-lg btn-block">Ver más <span class="glyphicon glyphicon-menu-down"></span></button>
                
                <!-- DETALLES DEL AUDIOVISUAL -->
                <div ng-show="hideInfo">
                  <!-- Nav tabs -->
                  <ul class="nav nav-pills nav-justified" role="tablist">
                    <li ng-show="!isEmpty(allInfo.identificacion)" role="presentation" class="active"><a data-target="#identificacion" aria-controls="identificacion" role="tab" data-toggle="pill">Identificación</a></li>
                    <li ng-show="!isEmpty(allInfo.contexto)" role="presentation"><a data-target="#contexto" aria-controls="contexto" role="tab" data-toggle="pill">Contexto</a></li>
                    <li ng-show="!isEmpty(allInfo.contenido_y_estructura)" role="presentation"><a data-target="#contenido" aria-controls="contenido" role="tab" data-toggle="pill">Contenido y estructura</a></li>
                    <li ng-show="!isEmpty(allInfo.condiciones_de_acceso)" role="presentation"><a data-target="#condiciones" aria-controls="condiciones" role="tab" data-toggle="pill">Condiciones de Acceso</a></li>
                    <li ng-show="!isEmpty(allInfo.documentacion_asociada) || !isEmpty(allInfo.notas)" role="presentation"><a data-target="#documentacion" aria-controls="documentacion" role="tab" data-toggle="pill">Documentación asociada y notas</a></li>
                    <li ng-show="(!isEmpty(allInfo.descripcion) || !isEmpty(allInfo.adicional)) && (permiso > 0)" role="presentation"><a data-target="#descripcion" aria-controls="descripcion" role="tab" data-toggle="pill">Descripción e información adicional</a></li>
                  </ul>
                  <center><h4><strong>{{allInfo.identificacion.titulo_propio}}</strong></h4></center>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <!-- AREA DE INDENTIFICACION -->
                    <div role="tabpanel" class="tab-pane fade in active" id="identificacion">
                      <table class="table table-condensed table-hover">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.identificacion)" ng-show="allInfo.identificacion[key] != ''">
                            <td class="col-xs-2 col-xs-2 col-md-2 col-lg-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-xs-10 col-md-10 col-lg-10 col-lg-10">{{allInfo.identificacion[key]}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="contexto">
                      <table class="table table-condensed table-hover">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.contexto)" ng-show="allInfo.contexto[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10">{{allInfo.contexto[key]}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="contenido">
                      <table class="table table-condensed table-hover">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.contenido_y_estructura)" ng-show="allInfo.contenido_y_estructura[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10">{{allInfo.contenido_y_estructura[key]}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="condiciones">
                      <table class="table table-condensed table-hover">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.condiciones_de_acceso)" ng-show="allInfo.condiciones_de_acceso[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10">{{allInfo.condiciones_de_acceso[key]}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="documentacion">
                      <table class="table table-condensed table-hover">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.documentacion_asociada)" ng-show="allInfo.documentacion_asociada[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10">{{allInfo.documentacion_asociada[key]}}</td>
                          </tr>
                          <tr ng-repeat="key in notSort(allInfo.notas)" ng-show="allInfo.notas[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10">{{allInfo.notas[key]}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="descripcion">
                      <table class="table table-condensed table-hover">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.descripcion)" ng-show="allInfo.descripcion[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10">{{allInfo.descripcion[key]}}</td>
                          </tr>
                          <tr ng-repeat="key in notSort(allInfo.adicional)" ng-show="allInfo.adicional[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10">{{allInfo.adicional[key]}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div><!-- DETALLES DEL AUDIOVISUAL -->

              </div>
            </div> <!--row-->
          </div> <!--container-fluid-->
        </div> <!--modal-body-->

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar y regresar </button>
        </div>

      </div>
    </div>
  </div>

</body>