<link rel="stylesheet" type="text/css" href="css/background.css" />
<style>
.btn-detalles{
  background-color: #254559;
  border-color: #112432;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #112332;
}
.nav-pills>li>a:hover{
  background-color: #324250;
}
.titularResultados {
  color: white;
  margin-left:4.6%;
}
.tituloOrdenar {
  color:#f0fff0;
}
.titularModalContent{
  font-weight: bold;
  font-size: 1.17em;
}
.modal-content{
  background-color: rgba(25, 45, 59, 0.95);
  color: #C2C2C2;
}
.contenedorInfo {
  background-color: rgba(42, 59, 71, 0.6);
}
.spanRubro {
  background-color: #0D1F2B;
  color: #C2C2C2;
}
.nav-pills li a{
  color: #C2C2C2;
}

.tituloPrincipal{
  width:175px; 
  height:40px; 
  background-color:white;
}

.search-options{
  color: white;
  padding-left: 6%;
  padding-right: 6%;
}
</style>

<body>
  <br><br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div id="decadas">
          <h2 class="titularResultados">Resultados de la búsqueda <em>"{{query}}"</em> <small>({{archivos.length}} resultados, {{visibles}} visibles)</small></h2>
        </div>
      </div>

      <!-- Filtrar y ordenar resultados -->
      <div class="row search-options" ng-show="archivos.length != 0">
        <div class="col-md-8">
          <h3>Filtrar por:</h3>
          <div isteven-multi-select input-model="inputQuery" output-model="outputQuery" button-label="name" item-label="name" tick-property="ticked" orientation="horizontal" max-height="250px" max-labels="10" helper-elements="all none" translation="localLang" on-item-click="updateVisibility()" on-select-all="updateAll()" on-select-none="updateNone()" on-reset="updateAll()"></div>
        </div>

        <div class="col-md-4">
          <h3>Ordenar por:</h3>
          <div>
            <select id="ordenSelect" class="selectpicker" ng-model="ordenamiento" ng-change="parseOrdenamiento()">
              <option value="fecha|true">Año (descendente)</option>
              <option value="fecha|false">Año (ascendente)</option>
              <option value="titulo_propio|true">Título (descendente)</option>
              <option value="titulo_propio|false">Título (ascendente)</option>
            </select>
          </div>
        </div>
      </div>

      <center><h2 ng-show="archivos.length === 0">No hay coincidencias en la base de datos. Intente otra búsqueda.</h2></center>
    
    <div id="seccionPortadas">
      <div id="audiovisual">
        <a ng-repeat="archivo in archivos | orderBy:predicate:reverse" data-toggle="modal" href="" data-target="#modalInfo" class="portadas portadasBusqueda" ng-show="archivo.show">
          <img ng-cloak class="img-rounded" ng-click="getAllInfo(archivo.codigo_de_referencia)" ng-src="{{(archivo.imagen != '') ? ('imgs/Portadas/' + archivo.imagen) : ('imgs/Portadas/sin_imagen_3.jpg')}}"> <!-- data-trigger="hover" data-title="Aparece en:" data-content-template="popover-info.html" data-placement="top" bs-popover -->
          <p class="text-rigth">
              {{tituloApropiado(archivo)}}
              <br>
              <br ng-show="tituloApropiado(archivo).length <= 25">
              <p class="textoA">{{(archivo.fecha != "") ? archivo.fecha : "(Sin fecha)"}}</p>
          </p>
        </a>
        <!--<script type="text/ng-template" id="popover-info.html">
          <h5 ng-repeat="rubro in getRubros(archivo)"><span class="label label-primary">{{rubro}}</span> </h5>        
        </script>-->
      </div>
    </div>
  </div>

  <!--Modal que muestra la información de los audiovisuales -->
  <div class="modal fade" id="modalInfo" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          <h1 class="modal-title" id="myModalLabel">{{allInfo.identificacion.titulo_propio}}
            <a ng-show="sesion" class="iconEdicion" href="" ng-click="editar(allInfo.identificacion.codigo_de_referencia)" >
              <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a type="button" data-unique="1" data-auto-close="1" data-placement="right" data-content-template="popover-tmpl.html" data-title="Eliminar registro" bs-popover ng-show="sesion" class="iconEdicion" href="">
              <span class="glyphicon glyphicon-remove-circle"></span>
            </a>
            <script type="text/ng-template" id="popover-tmpl.html">
              <form>
                    <div class="form-group">
                        ¿Seguro que deseas borrar el registro "{{allInfo.identificacion.titulo_propio}}"?
                        <br>
                        <br>
                        <label for="exampleInputPassword1">Confirmar contraseña</label>
                        <input type="password" class="form-control" id="pass" name="pass" data-ng-model="pass">
                    </div>
                    <!--Errores de Validaciones que se muestran verificando las validaciones de cada input-->
                      <div class="alert alert-danger" role="alert" ng-model="errores" style="height=20px" ng-show="errores">
                          <small class="errorConfirmacion" ng-show="errores">
                              <strong>ERROR:</strong>Contraseña invalida!
                          </small>
                      </div>
                    <button type="submit" ng-click="confirmar(user,pass)" class="btn btn-danger">Eliminar</button>
                </form>
            </script>
          </h1>
        </div>

        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-md-4 col-lg-4">
                <img src="{{(allInfo.adicional.imagen != '') ? ('imgs/Portadas/' + allInfo.adicional.imagen) : ('imgs/Portadas/sin_imagen_3.jpg')}}" class="img-responsive" id="imgPortada">
              </div>
              <div class="col-xs-12 col-md-8 col-lg-8">
                <p><span class="titularModalContent">Sinopsis</span></p>
                <p ng-bind-html="allInfo.contenido_y_estructura.sinopsis"></p>
                <p ng-show="allInfo.contenido_y_estructura.sinopsis === ''"><em>Pendiente.</em></p>
                <p><span class="titularModalContent">Año</span> {{allInfo.identificacion.fecha}} <span class="titularModalContent" style="margin-left: 1em;">Duración</span> {{allInfo.identificacion.duracion}}</p>
                <p ng-show="allInfo.identificacion.realizacion !== ''"><span class="titularModalContent">Realizador</span> {{allInfo.identificacion.realizacion}}</p>
                <p class="text-right" ng-show="allInfo.adicional.url !== ''">
                  <a class="btn btn-default" href="{{allInfoCopy.adicional.url}}" role="button">
                    Video <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                  </a>
                </p>
                <p>
                  Resultados de la búsqueda: <br>
                  <ul class="list-unstyled">
                    <li ng-repeat="(keyword, rubros) in findRubros(allInfo.identificacion.codigo_de_referencia)"> <span class="label label-primary">{{keyword}}</span> <!-- ng-click="highlight(keyword)" -->
                      <ul class="list-inline" style="margin-left:2em">
                        <li ng-repeat="rubro in rubros"> <a href=""><span class="label label-primary spanRubro" ng-click="focus(keyword, rubro)">{{encabezados[rubro]}}</span></a></li>
                      </ul>
                    </li>
                  </ul>
                </p>
              </div> 
            </div>
            <br> <!--Espaciado para el botón-->
            <div class="row">
              <div class="col-xs-12 col-md-12 col-lg-12">
                
                <!-- BOTÓN PARA MOSTRAR DETALLES -->
                <button type="button" ng-show="!hideInfo" ng-click="hideInfos()" class="btn btn-primary btn-lg btn-block btn-detalles">Ver más <span class="glyphicon glyphicon-menu-down"></span></button>
                
                <!-- DETALLES DEL AUDIOVISUAL -->
                <div ng-show="hideInfo" class="contenedorInfo">
                  <!-- Nav tabs -->
                  <ul class="nav nav-pills nav-justified" role="tablist" id="myTabs">
                    <li ng-show="!isEmpty(allInfo.identificacion)" role="presentation" class="active"><a data-target="#identificacion" aria-controls="identificacion" role="tab" data-toggle="pill" href="">Identificación</a></li>
                    <li ng-show="!isEmpty(allInfo.contexto)" role="presentation"><a data-target="#contexto" aria-controls="contexto" role="tab" data-toggle="pill" href="">Contexto</a></li>
                    <li ng-show="!isEmpty(allInfo.contenido_y_estructura)" role="presentation"><a data-target="#contenido" aria-controls="contenido" role="tab" data-toggle="pill" href="">Contenido y estructura</a></li>
                    <li ng-show="!isEmpty(allInfo.condiciones_de_acceso)" role="presentation"><a data-target="#condiciones" aria-controls="condiciones" role="tab" data-toggle="pill" href="">Condiciones de Acceso</a></li>
                    <li ng-show="!isEmpty(allInfo.documentacion_asociada) || !isEmpty(allInfo.notas)" role="presentation"><a data-target="#documentacion" aria-controls="documentacion" role="tab" data-toggle="pill" href="">Documentación asociada y notas</a></li>
                    <li ng-show="(!isEmpty(allInfo.descripcion) || !isEmpty(allInfo.adicional)) && (permiso > 0)" role="presentation"><a data-target="#descripcion" aria-controls="descripcion" role="tab" data-toggle="pill" href="">Descripción e información adicional</a></li>
                  </ul>
                  <center><h4><strong>{{allInfo.identificacion.titulo_propio}}</strong></h4></center>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <!-- AREA DE INDENTIFICACION -->
                    <div role="tabpanel" class="tab-pane fade in active" id="identificacion">
                      <table class="table table-condensed">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.identificacion)" ng-show="allInfo.identificacion[key] != ''">
                            <td class="col-xs-2 col-xs-2 col-md-2 col-lg-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-xs-10 col-md-10 col-lg-10 col-lg-10"><span ng-bind-html="allInfo.identificacion[key]"></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- AREA DE CONTEXTO -->
                    <div role="tabpanel" class="tab-pane fade" id="contexto">
                      <table class="table table-condensed">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.contexto)" ng-show="allInfo.contexto[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10"><span ng-bind-html="allInfo.contexto[key]"></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- AREA DE CONTENIDO -->
                    <div role="tabpanel" class="tab-pane fade" id="contenido">
                      <table class="table table-condensed">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.contenido_y_estructura)" ng-show="allInfo.contenido_y_estructura[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10"><span ng-bind-html="allInfo.contenido_y_estructura[key]"></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- AREA DE CONDICIONES DE ACCESO -->
                    <div role="tabpanel" class="tab-pane fade" id="condiciones">
                      <table class="table table-condensed">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.condiciones_de_acceso)" ng-show="allInfo.condiciones_de_acceso[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10"><span ng-bind-html="allInfo.condiciones_de_acceso[key]"></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- AREA DE DOCUMENTACION ASOCIADA Y NOTAS -->
                    <div role="tabpanel" class="tab-pane fade" id="documentacion">
                      <table class="table table-condensed">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.documentacion_asociada)" ng-show="allInfo.documentacion_asociada[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10"><span ng-bind-html="allInfo.documentacion_asociada[key]"></span></td>
                          </tr>
                          <tr ng-repeat="key in notSort(allInfo.notas)" ng-show="allInfo.notas[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10"><span ng-bind-html="allInfo.notas[key]"></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- AREA DE DESCRIPCION E INFORMACION ADICIONAL -->
                    <div role="tabpanel" class="tab-pane fade" id="descripcion">
                      <table class="table table-condensed">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.descripcion)" ng-show="allInfo.descripcion[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10">{{allInfoCopy.descripcion[key]}}</td><!--No se cambian las URL-->
                          </tr>
                          <tr ng-repeat="key in notSort(allInfo.adicional)" ng-show="allInfo.adicional[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10">{{allInfoCopy.adicional[key]}}</td><!--No se cambian las URL-->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div><!-- DETALLES DEL AUDIOVISUAL -->

              </div>
            </div> <!--row-->
          </div> <!--container-fluid-->
        </div> <!--modal-body-->

        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="openPDF()">Ver en PDF</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>

</body>
<!--Togglable Tab para mostrar toda la información de cada audiovisual-->
<script type="text/javascript">
    $(document).ready(function(){
        $('#modalInfo').on('hidden.bs.modal', function () {
          
        });
        $('#myTab').click(function(e){
          e.preventDefault();
          $(this).tab('show');
        });

        $('.selectpicker').selectpicker('show');
    });
</script>
