<link rel="stylesheet" type="text/css" href="css/background.css" />
<link rel="stylesheet" type="text/css" href="css/grid-portadas.css" />

<style>
* {
  color: #f0fff0;
}
.affix {
  top: 0px;
  width: 100%;
}

.affix-top {
  width: 100%;
}

.affix-bottom {
  position: absolute;
  width: 100%;  
}



.btn-detalles{
  background-color: #254559;
  border-color: #112432;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #112332;
}
.nav-pills>li>a:hover{
  background-color: #324250;
}
.titularResultados {
  color: white;
  margin-left:4.6%;
}
.tituloOrdenar {
  color:#f0fff0;
}
.titularModalContent{
  font-weight: bold;
  font-size: 1.17em;
}
.modal-content{
  background-color: rgba(25, 45, 59, 0.95);
  color: #C2C2C2;
}
.contenedorInfo {
  background-color: rgba(42, 59, 71, 0.6);
}
/*.spanRubro {
  background-color: #0D1F2B;
  color: #C2C2C2;
}*/
.busqueda-rubro{
  margin-left: 3px;
  margin-right: 3px;
}
.nav-pills li a{
  color: #C2C2C2;
}

.tituloPrincipal{
  width:175px; 
  height:40px; 
  background-color:white;
}

.search-options{
  color: white;
  padding-left: 6%;
  padding-right: 6%;
}

/*Links "Anterior"/"Siguiente" dentro del modal*/
a.navDocumental{
  float: left;
  text-align: left;
  margin-right: 2em;
}
a.navDocumental:link{
  color: #C2C2C2;
  text-decoration: none;
}
a.navDocumental:visited{
  color: #C2C2C2;
  text-decoration: none;
}
a.navDocumental:hover{
  color: #C2C2C2;
  text-decoration: underline;
}
a.navDocumental:active{
  color: #C2C2C2;
  text-decoration: none;
}
/*Espaciado horizontal para no pegar los textos "Anterior"/"Siguiente"*/
a.navSpacing{
  margin-right: 2em;
}
</style>

<body>
  <br><br><br>
  <div class="container container-large">
    <div class="row">
      <div class="col-xs-12">
        <h2>Colección de documentales en video</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <div data-spy="affix">
          Tipos de resultados de la búsqueda
          <ul class="list-inline">
            <li><button class="btn btn-default btn-xs" type="button" ng-click="setAllFilters(true)"> Seleccionar todos</button></li>
            <li><button class="btn btn-default btn-xs" type="button" ng-click="setAllFilters(false)"> Limpiar selección</button></li>
          </ul>

          <hr>

          <ul class="list-unstyled" data-spy="affix" data-offset-top="50">
            <li ng-repeat="rubro in inputQuery">
              <input type="checkbox" ng-model="rubro.ticked" ng-change="updateView()"> {{rubro.total}} documental<span ng-if="rubro.total > 1">es</span> en "<strong>{{rubro.name}}</strong>" dentro del área de <em>{{rubro.area}}</em>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xs-10">
        <span style="font-size: large;">Búsqueda de <em>"{{query}}"</em></span>
        <br>
        <span style="font-size: larger;">{{archivos.length}} resultados ({{visibles}} visibles)</span>

        <span ng-if="loading"><center><i class="fa fa-spinner fa-pulse fa-2x"></i></center></span>
        <center ng-if="!loading"><div class="alert alert-warning" role="alert" ng-show="archivos.length === 0" ng-cloak><strong>No hay coincidencias en la base de datos.</strong> Intente otra búsqueda.</div></center>
        
        <div id="seccionPortadas">
          <div id="audiovisual">
            <a ng-repeat="archivo in archivos" data-toggle="modal" href="" data-target="#modalInfo" class="portadas portadasBusqueda" ng-show="archivo.show">
              <img class="img-rounded" ng-click="getAllInfo(archivo.codigo_de_referencia)" ng-src="{{(archivo.imagen != '') ? ('imgs/Portadas/' + archivo.imagen) : ('imgs/Portadas2/' + archivo.codigo_de_referencia + '.jpg')}}"> <!-- data-trigger="hover" data-title="Aparece en:" data-content-template="popover-info.html" data-placement="top" bs-popover -->
              <p class="text-rigth">
                  {{recortarTitulo(archivo.titulo_adecuado, 32)}}
                  <br>
                  <br ng-show="archivo.titulo_adecuado.length <= 21">
                  <p class="textoA">{{(archivo.fecha != "") ? archivo.fecha : "(Sin fecha)"}}</p>
              </p>
            </a>
            <!--<script type="text/ng-template" id="popover-info.html">
              <h5 ng-repeat="rubro in getRubros(archivo)"><span class="label label-primary">{{rubro}}</span> </h5>        
            </script>-->
          </div>
        </div>
      </div>

      <!-- <div class="col-xs-12">
        <pre>inputQuery:</pre>
        <pre>{{inputQuery | json}}</pre>
        <pre>archivos:</pre>
        <pre>{{archivos | json}}</pre>
      </div> -->
    </div>

    <!-- Filtrar y ordenar resultados -->
    <!-- <div class="row search-options" ng-show="archivos.length != 0">
      <div class="col-md-8">
        <h3><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filtrar por:</h3>
        <div isteven-multi-select input-model="inputQuery" output-model="outputQuery" button-label="name" item-label="name" tick-property="ticked" orientation="horizontal" max-height="200px" max-labels="10" helper-elements="all none" translation="localLang" on-item-click="updateVisibility()" on-select-all="updateAll()" on-select-none="updateNone()" on-reset="updateAll()"></div>
      </div>

      <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Ordenar por:</h3>
        <div>
          <select class="selectpicker" ng-model="ordenamiento" ng-change="parseOrdenamiento()">
            <option value="fecha|true" data-icon="glyphicon-sort-by-order-alt">Año (mayor a menor)</option>
            <option value="fecha|false" data-icon="glyphicon-sort-by-order">Año (menor a mayor)</option>
            <option value="titulo_visible|false" data-icon="glyphicon-sort-by-alphabet">Título (ascendente)</option>
            <option value="titulo_visible|true" data-icon="glyphicon-sort-by-alphabet-alt">Título (descendente)</option>
          </select>
        </div>
      </div>
    </div> -->
  </div>

  <!--Modal que muestra la información de los audiovisuales -->
  <div class="modal fade" id="modalInfo" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          <h1 class="modal-title" id="myModalLabel">{{allInfo.secret.titulo_adecuado}}
            <a ng-show="sesion" class="iconEdicion" href="" ng-click="editar(allInfo.identificacion.codigo_de_referencia)" >
              <span class="glyphicon glyphicon-edit"></span>
            </a>
            <!-- <a type="button" data-unique="1" data-auto-close="1" data-placement="right" data-content-template="popover-tmpl.html" data-title="Eliminar registro" bs-popover ng-show="sesion" class="iconEdicion" href="">
              <span class="glyphicon glyphicon-remove-circle"></span>
            </a> -->
            <script type="text/ng-template" id="popover-tmpl.html">
              <form>
                    <div class="form-group">
                        ¿Seguro que deseas borrar el registro "{{allInfo.identificacion.titulo_propio}}"?
                        <br>
                        <br>
                        <label for="exampleInputPassword1">Confirmar contraseña</label>
                        <input type="password" class="form-control" id="pass" name="pass" data-ng-model="pass">
                    </div>
                    <!--Errores de Validaciones que se muestran verificando las validaciones de cada input-->
                      <div class="alert alert-danger" role="alert" ng-model="errores" style="height=20px" ng-show="errores">
                          <small class="errorConfirmacion" ng-show="errores">
                              <strong>ERROR:</strong>Contraseña invalida!
                          </small>
                      </div>
                    <button type="submit" ng-click="confirmar(user,pass)" class="btn btn-danger">Eliminar</button>
                </form>
            </script>
          </h1>
        </div>

        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-md-4 col-lg-4">
                <img ng-src="{{(allInfo.adicional.imagen != '') ? ('imgs/Portadas/' + allInfo.adicional.imagen) : ('imgs/Portadas2/' + allInfo.identificacion.codigo_de_referencia + '.jpg')}}" class="img-responsive" id="imgPortada">
              </div>
              <div class="col-xs-12 col-md-8 col-lg-8">
                <p><span class="titularModalContent">Sinopsis</span></p>
                <p ng-bind-html="allInfo.contenido_y_estructura.sinopsis"></p>
                <p ng-show="allInfo.contenido_y_estructura.sinopsis === ''"><em>Pendiente.</em></p>
                <p><span class="titularModalContent">Año</span> {{allInfo.identificacion.fecha}} <span class="titularModalContent" style="margin-left: 1em;">Duración</span> {{allInfo.identificacion.duracion}}</p>
                <p ng-show="allInfo.identificacion.realizacion !== ''"><span class="titularModalContent">Realizador</span> {{allInfo.identificacion.realizacion}}</p>
                <p class="text-right" ng-show="allInfo.adicional.url !== ''">
                  <a class="btn btn-default" href="{{allInfoCopy.adicional.url}}" target="_blank" role="button">
                    Video <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                  </a>
                </p>
              </div> 
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <p class="text-center">
                  <strong>Resultados de la búsqueda</strong>
                </p>
                <p class="text-center" ng-repeat="(keyword, rubros) in findRubros(allInfo.identificacion.codigo_de_referencia)">
                   <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> <strong><em>{{keyword}}</em>:</strong> <button ng-repeat="rubro in rubros" class="btn btn-default btn-xs busqueda-rubro" ng-click="focus(keyword, rubro)">{{encabezados[rubro]}}</button>
                 </p>
              </div>
            </div>
            <br> <!--Espaciado para el botón-->
            <div class="row">
              <div class="col-xs-12 col-md-12 col-lg-12">
                
                <!-- BOTÓN PARA MOSTRAR DETALLES -->
                <button type="button" ng-show="!hideInfo" ng-click="hideInfos()" class="btn btn-primary btn-lg btn-block btn-detalles">Ver más <span class="glyphicon glyphicon-menu-down"></span></button>
                
                <!-- DETALLES DEL AUDIOVISUAL -->
                <div ng-show="hideInfo" class="contenedorInfo">
                  <!-- Nav tabs -->
                  <ul class="nav nav-pills nav-justified" role="tablist" id="myTabs">
                    <li ng-show="!isEmpty(allInfo.identificacion)" role="presentation" class="active"><a data-target="#identificacion" aria-controls="identificacion" role="tab" data-toggle="pill" href=""><span class="glyphicon glyphicon-film" aria-hidden="true"></span><br class="hidden-xs hidden-sm"><span class="visible-xs-inline visible-sm-inline"> </span>Identificación</a></li>
                    <li ng-show="!isEmpty(allInfo.contexto)" role="presentation"><a data-target="#contexto" aria-controls="contexto" role="tab" data-toggle="pill" href=""><span class="glyphicon glyphicon-file" aria-hidden="true"></span><br class="hidden-xs hidden-sm"><span class="visible-xs-inline visible-sm-inline"> </span>Contexto</a></li>
                    <li ng-show="!isEmpty(allInfo.contenido_y_estructura)" role="presentation"><a data-target="#contenido" aria-controls="contenido" role="tab" data-toggle="pill" href=""><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><br class="hidden-xs hidden-sm"><span class="visible-xs-inline visible-sm-inline"> </span>Contenido y estructura</a></li>
                    <li ng-show="!isEmpty(allInfo.condiciones_de_acceso)" role="presentation"><a data-target="#condiciones" aria-controls="condiciones" role="tab" data-toggle="pill" href=""><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span><br class="hidden-xs hidden-sm"><span class="visible-xs-inline visible-sm-inline"> </span>Condiciones de Acceso</a></li>
                    <li ng-show="!isEmpty(allInfo.documentacion_asociada)" role="presentation"><a data-target="#documentacion" aria-controls="documentacion" role="tab" data-toggle="pill" href=""><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span><br class="hidden-xs hidden-sm"><span class="visible-xs-inline visible-sm-inline"> </span>Documentación asociada</a></li>
                    <li ng-show="!isEmpty(allInfo.notas)" role="presentation"><a data-target="#notas" aria-controls="notas" role="tab" data-toggle="pill" href=""><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><br class="hidden-xs hidden-sm"><span class="visible-xs-inline visible-sm-inline"> </span>Notas</a></li>
                    <li ng-show="(!isEmpty(allInfo.descripcion)) && (permiso > 0)" role="presentation"><a data-target="#descripcion" aria-controls="descripcion" role="tab" data-toggle="pill" href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span><br class="hidden-xs hidden-sm"><span class="visible-xs-inline visible-sm-inline"> </span>Control de la descripción</a></li>
                    <li ng-show="(!isEmpty(allInfo.adicional)) && (permiso > 0)" role="presentation"><a data-target="#adicional" aria-controls="adicional" role="tab" data-toggle="pill" href=""><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><br class="hidden-xs hidden-sm"><span class="visible-xs-inline visible-sm-inline"> </span>Información adicional</a></li>
                  </ul>
                  <center><h4><strong>{{allInfo.secret.titulo_adecuado}}</strong></h4></center>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <!-- AREA DE INDENTIFICACION -->
                    <div role="tabpanel" class="tab-pane fade in active" id="identificacion">
                      <table class="table table-condensed">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.identificacion)" ng-show="allInfo.identificacion[key] != ''">
                            <td class="col-xs-2 col-xs-2 col-md-2 col-lg-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-xs-10 col-md-10 col-lg-10 col-lg-10"><span ng-bind-html="allInfo.identificacion[key]"></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- AREA DE CONTEXTO -->
                    <div role="tabpanel" class="tab-pane fade" id="contexto">
                      <table class="table table-condensed">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.contexto)" ng-show="allInfo.contexto[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10"><span ng-bind-html="allInfo.contexto[key]"></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- AREA DE CONTENIDO -->
                    <div role="tabpanel" class="tab-pane fade" id="contenido">
                      <table class="table table-condensed">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.contenido_y_estructura)" ng-show="allInfo.contenido_y_estructura[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10"><span ng-bind-html="allInfo.contenido_y_estructura[key]"></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- AREA DE CONDICIONES DE ACCESO -->
                    <div role="tabpanel" class="tab-pane fade" id="condiciones">
                      <table class="table table-condensed">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.condiciones_de_acceso)" ng-show="allInfo.condiciones_de_acceso[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10"><span ng-bind-html="allInfo.condiciones_de_acceso[key]"></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- AREA DE DOCUMENTACION ASOCIADA -->
                    <div role="tabpanel" class="tab-pane fade" id="documentacion">
                      <table class="table table-condensed">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.documentacion_asociada)" ng-show="allInfo.documentacion_asociada[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10"><span ng-bind-html="allInfo.documentacion_asociada[key]"></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- AREA DE NOTAS -->
                    <div role="tabpanel" class="tab-pane fade" id="notas">
                      <table class="table table-condensed">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.notas)" ng-show="allInfo.notas[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10"><span ng-bind-html="allInfo.notas[key]"></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- AREA DE DESCRIPCION -->
                    <div role="tabpanel" class="tab-pane fade" id="descripcion">
                      <table class="table table-condensed">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.descripcion)" ng-show="allInfo.descripcion[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10">{{allInfoCopy.descripcion[key]}}</td><!--No se cambian las URL-->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- AREA DE INFORMACION ADICIONAL -->
                    <div role="tabpanel" class="tab-pane fade" id="adicional">
                      <table class="table table-condensed">
                        <tbody>
                          <tr ng-repeat="key in notSort(allInfo.adicional)" ng-show="allInfo.adicional[key] != ''">
                            <td class="col-xs-2 col-md-2 col-lg-2"><strong>{{encabezados[key]}}</strong></td>
                            <td class="col-xs-10 col-md-10 col-lg-10">{{allInfoCopy.adicional[key]}}</td><!--No se cambian las URL-->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div><!-- DETALLES DEL AUDIOVISUAL -->

              </div>
            </div> <!--row-->
          </div> <!--container-fluid-->
        </div> <!--modal-body-->

        <div class="modal-footer">
          <a href="" ng-show="allInfo.identificacion.codigo_de_referencia !== archivos[0].codigo_de_referencia" ng-click="getAllInfoNear(allInfo.identificacion.codigo_de_referencia, 'prev')" class="navDocumental navSpacing"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Anterior</a>
          <a href="" ng-show="allInfo.identificacion.codigo_de_referencia !== archivos[archivos.length - 1].codigo_de_referencia" ng-click="getAllInfoNear(allInfo.identificacion.codigo_de_referencia, 'next')" class="navDocumental">Siguiente <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
          <button type="button" class="btn btn-default" ng-click="openPDF()">Ver en PDF</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>

</body>

<!--Togglable Tab para mostrar toda la información de cada audiovisual-->
<script type="text/javascript">
    $(document).ready(function(){
        $('#modalInfo').on('hidden.bs.modal', function () {
          
        });
        $('#myTab').click(function(e){
          e.preventDefault();
          $(this).tab('show');
        });

        // Habilita input selectpicker para ordenamiento
        $('.selectpicker').selectpicker();
        //$('.selectpicker').selectpicker('show');
        //$('.selectpicker').selectpicker('refresh');
    });
</script>
