<!-- Estilos de Slide -->
<link rel="stylesheet" type="text/css" href="css/slide.css" />
<link rel="stylesheet" type="text/css" href="css/animacionesSlide.css" />
<script type="text/javascript" src="js/modernizr.custom.86080.js"></script>
<body id="page">
    <ul ng-cloak class="cb-slideshow">
        <li><span></span><div><h3 class="titulos" >re·lax·a·tion</h3></div></li>
        <li><span></span><div><h3 class="titulos">qui·e·tude</h3></div></li>
        <li><span></span><div><h3 class="titulos">bal·ance</h3></div></li>
        <li><span></span><div><h3 class="titulos">e·qua·nim·i·ty</h3></div></li>
        <li><span></span><div><h3 class="titulos">com·po·sure</h3></div></li>
        <li><span></span><div><h3 class="titulos">com·po·sure</h3></div></li>
    </ul>        
    <div class="container">
        <header>
            <div class="vista">
                <img id="logo" src="imgs/mora.png">
            </div>
        </header>
    </div>
</body>