<!-- Estilos de Slide -->
<link rel="stylesheet" type="text/css" href="css/slide.css" />
<link rel="stylesheet" type="text/css" href="css/animacionesSlide.css" />
<script type="text/javascript" src="js/modernizr.custom.86080.js"></script>
<body id="page">
    <ul ng-cloak class="cb-slideshow">
        <li><span></span><div><h3 class="titulos" >Laboratorio</h3></div></li>
        <li><span></span><div><h3 class="titulos">Audiovisual</h3></div></li>
        <li><span></span><div><h3 class="titulos">de</h3></div></li>
        <li><span></span><div><h3 class="titulos">Investigación</h3></div></li>
        <li><span></span><div><h3 class="titulos">Social</h3></div></li>
    </ul>
    <br>
    <center>
    </center>

<!-- Para poner el navbar fijo y de color negro transparente -->
<script>
$( ".navegador" ).css( "background-color", "rgba(0,0,0,.6)");
</script>
</body>