<div ng-controller="GetUsers">

	<table>
		<thead><tr><th>ID</th><th>Name</th><th>Email</th></tr></thead>
		<tbody>
			<tr ng-repeat="user in users"><td>{{user.id}}</td><td>{{ user.name }}</td><td>{{user.email}}</td></tr>
		</tbody>
		</tfoot></tfoot>
	</table>

</div>

<script>
	function GetUsers($scope, $http) {
	// this is where the JSON from api.php is consumed
	$http.get('http://localhost/lais/public/php/conexion.php').
	    success(function(data) {
	        // here the data from the api is assigned to a variable named users
	        $scope.users = data;
	    });
	}
</script>