<link rel="stylesheet" type="text/css" href="css/background.css" />
<body>
	<br>
	<br>
	<h1 class="titulosPV">Publicaciones</h1>
	<div class="secPublicaciones">
		Cuando pasas buscando otros aires,
aires de amor que no son los míos,
con tu cabellos largos,
sueltos,llevados por el viento,
me enojo,me vuelvo silencioso,rencoroso,celoso.
Así ha sucedido hoy
niña de cabellos largos y sueltos,
cuando pasastes por mi lado
buscando el amor en otros ojos,en otras palabras,
convirtiéndome en un ser insensible
para otras divinas como tú...
	</div>
	<h1 class="titulosPV">Vínculos</h1>
	<div class="secVinculos">
		Cuando pasas buscando otros aires,
aires de amor que no son los míos,
con tu cabellos largos,
sueltos,llevados por el viento,
me enojo,me vuelvo silencioso,rencoroso,celoso.
Así ha sucedido hoy
niña de cabellos largos y sueltos,
cuando pasastes por mi lado
buscando el amor en otros ojos,en otras palabras,
convirtiéndome en un ser insensible
para otras divinas como tú...
	</div>
</body>