<link rel="stylesheet" type="text/css" href="css/background.css"/>
<style>
div.info-text{
    background-color: rgba(13,13,13,0.9);
    font-family: 'Open Sans', sans-serif;
    color: #CCC;
    font-size: 1em;
	padding: 1em 2em;
    border-radius: 7px;
}

/* unvisited link */
a:link {
    color: #A1A1A1;
}

/* visited link */
a:visited {
    color: #737272;
}

/* mouse over link */
a:hover {
    color: #737272;
}

/* selected link */
a:active {
    color: #737272;
}
</style>
<body>
	<br>
	<br>
	<br>

	<div class="container info-text text-center">
		<h1>Vínculos de interés sobre documental</h1>

		<h2>Archivos</h2>

		<p><a href="http://www.filmoteca.unam.mx/" target="_blank">Filmoteca UNAM</a></p>
		<p><a href="http://anarchivia.org/" target="_blank">Anarchivia Films</a></p>
		<p><a href="http://www.filmoteca.cat/web/" target="_blank">Filmoteca de Catalunya</a></p>
		<p><a href="http://www.institut-national-audiovisuel.fr/" target="_blank">Institut National de l’Audiovisuel</a></p>

		<h2>Laboratorios y centros</h2>

		<p><a href="http://www.lisa.usp.br/" target="_blank">LISA, Laboratório de Imagem e Som em Antropologia</a></p>
		<p><a href="http://www.labhoi.uff.br/" target="_blank">LABHOI, Laboratório de Historia Oral e Imagem</a></p>
		<p><a href="http://www.ceavi.cl/" target="_blank">CEAVI, Centro de Estudios de Antropología Visual</a></p>
		<p><a href="http://www2.girona.cat/ca/sgdap_crdi" target="_blank">CRDI, Centre de Recerca i Difusió de la Imatge</a></p>

		<h2>Asociaciones</h2>

		<p><a href="http://www.edn.dk/" target="_blank">European Documentary Network</a></p>
		<p><a href="http://www.documentary.org/" target="_blank">The International Documentary Association (IDA)</a></p>
		<p><a href="http://www.gesta.ei.udelar.edu.uy/" target="_blank">Grupo de Estudios Audiovisuales (GEstA)</a></p>
		<p><a href="http://docacine.com.ar/wpress/" target="_blank">Documentalistas Argentinos</a></p>
		<p><a href="http://www.doctvlatinoamerica.org/" target="_blank">Doctv</a></p>
		<p><a href="http://www.promediosmexico.org/" target="_blank">ProMedios de Comunicación Comunitaria</a></p>
		<p><a href="http://www.imagesenbibliotheques.fr/" target="_blank">Images en bibliotheques</a></p>
		<p><a href="http://www.filmarchives-online.eu/" target="_blank">Filmarchives</a></p>

		<h2>Revistas</h2>
		<p><a href="http://www.rchav.cl/" target="_blank">Revista Chilena de Antropología Visual</a></p>
		<p><a href="http://www.doxmagazine.com/" target="_blank">European Documentary Magazine</a></p>
		<p><a href="http://revista.cinedocumental.com.ar/" target="_blank">Revista Cine Documental</a></p>
		<p><a href="http://www.imagesdocumentaires.fr/" target="_blank">Images Documentaires</a></p>
		<p><a href="http://www.blogsandocs.com/" target="_blank">Blogs and Docs</a></p>
		<p><a href="http://www.criticalia.com/" target="_blank">Criticalia.com</a></p>
		<p><a href="http://www.documentary.org/magazine" target="_blank">Documentary</a></p>
		<p><a href="http://www.apordoc.org/" target="_blank">Doc.pt</a></p>
		<p><a href="http://www.doc.ubi.pt/" target="_blank">Doc-online </a></p>
		<p><a href="https://eldocumentalistaudiovisual.com/category/noticias/" target="_blank">El documentalista audiovisual</a></p>

		<h2>Otras publicaciones en línea</h2>

		<p><a href="http://www.uhu.es/cine.educacion/cineyeducacion/lecturasdecinedocumental.htm" target="_blank">Lecturas de cine documental y etnográfico </a></p>
		<p><a href="http://cinedivergente.com/" target="_blank">Cine divergente</a></p>
		<p><a href="http://www.peterbosma.info/?p=blog&blog=11" target="_blank">Peter Bosma Some documentatio on silent cinema</a></p>
		<p><a href="http://notaalpie.org/2014/05/el-found-footage-y-la-redefinicion-del-cine-como-arte/" target="_blank">Nota al pie</a></p>
		<p><a href="http://cinechile.cl/index.php" target="_blank">Cinechile Enciclopedia del cine chileno</a></p>

		<h2>Documentales en línea</h2>
		<p><a href="http://www.canalseisdejulio.com/" href="_blank">Canal Seis de Julio</a></p>
		<p><a href="http://www.bbc.co.uk/iplayer/categories/documentaries/highlights" href="_blank">BBC Documentaries</a></p>
		<p><a href="http://www.filmarchives-online.eu/" href="_blank">Film Archives Online</a></p>
		<p><a href="http://www.der.org/" href="_blank">Documentary Educational Resources</a></p>
		<p><a href="http://www.cinerebelde.org/" href="_blank">Cine Rebelde</a></p>
		<p><a href="http://www.doctvlatinoamerica.org/" href="_blank">DocTV Latinoamérica</a></p>
		<p><a href="http://www.cinepata.com/" target="_blank">Cine independiente latinoamericano</a></p>
		<p><a href="http://miradocumentales.com/" target="_blank">Documentales variados</a></p>
		<p><a href="http://www.elciudadanotv.cl/" target="_blank">El ciudadano tv</a></p>

		<h2>Festivales</h2>
		
		<p><a href="http://www.contraelsilencio.org/" target="_blank">Contra el Silencio Todas las Voces</a></p>
		<p><a href="http://www.puntodevistafestival.com/es/ultima_edicion.asp" target="_blank">Festival Internacional de Cine Documental de Navarra</a></p>
		<p><a href="http://ambulante.com.mx/es/festival" target="_blank">Ambulante</a></p>
		<p><a href="http://docsdf.org/" target="_blank">DocsDF</a></p>
		<p><a href="http://www.alcances.org/" target="_blank">Festival de cine documental Alcances</a></p>
		<p><a href="http://www.habanafilmfestival.com/" target="_blank">Festival Internacional del Nuevo Cine Latinoamericano</a></p>
		<p><a href="http://www.viennale.at/" target="_blank">Vienna International Film Festival</a></p>
		<p><a href="http://festivalglobale.org/" target="_blank">Globale</a></p>
		<p><a href="http://moreliafilmfest.com/" target="_blank">Festival Internacional de Cine de Morelia</a></p>
	</div>
	


</body>